<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .assignment {
            margin-bottom: 20px;
        }
        .assignment label {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:if="${noAssignment"}>
    <p><span id="noAssignment" th:text="${noAssignment}"></span></p>
</div>
<div th:if="${assignment}">
    <div class="assignment">
        <label for="id">ID:</label>
        <span id="id" th:text="${assignment.id}"></span>
    </div>
    <div class="assignment">
        <label for="github">GitHub URL:</label>
        <a th:href="${assignment.githubUrl}" id="github" th:text="${assignment.githubUrl}">https://github.com/yourusername/yourrepo</a>
    </div>
    <div class="assignment">
        <label for="code">Code Review URL:</label>
        <a href="${assignment.reviewVideoUrl}" id="code" th:text="${assignment.reviewVideoUrl}"></a>
    </div>
    <div class="assignment">
        <label for="username">Username:</label>
        <span id="username" th:text="${assignment.user.getUsername()}"></span>
    </div>
    <div class="assignment">
        <label for="reviewer">Reviewer Name:</label>
        <span id="reviewer" th:text="${assignment.codeReviewer.getUsername()}"></span>
    </div>
</div>
<script>
    const username = localStorage.getItem('username');
    console.log('Username:', username);

<!--    document.addEventListener("DOMContentLoaded", function() {-->
        //hidden username field for submission
        var usernameValue = username;

        var usernameInput = document.getElementById("username");

        usernameInput.value = usernameValue;

        //usernameInput.disabled = true;

        //shown username field to see the username being used
        var usernameShown = document.getElementById("usernameShown");

        usernameShown.value = usernameValue;

        usernameShown.disabled = true;
</script>
</body>
</html>
