<!-- login.html -->
<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to the Assignment Review App</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Set the height of the viewport */
            margin: 0; /* Remove default margin */
        }
        button {
            width: 150px;
            margin: 10px;
        }
    </style>
</head>
<body>
<h1>Login</h1>
<div>
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>